<aside class="aside-bar">
	<div class="about-us-small aside-bar--last-item">
		<div class="aside__line js-toggle-info">
			<h5>About Jetro</h5>
			<div class="division-line"></div>
		</div>
		<div class="toggle-info">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.</p>
		</div>
	</div>
	<div class="categories-small">
		<div class="aside__line js-toggle-info">
			<h5>categories</h5>
			<div class="division-line"></div>
		</div>
		<div class="toggle-info">
			<ul>
				<li><a href="#">Video (<span>3</span>)</a></li>
				<li><a href="#">Sports (<span>5</span>)</a></li>
				<li><a href="#">Media (<span>2</span>)</a></li>
				<li><a href="#">Entertainment (<span>7</span>)</a></li>
				<li><a href="#">Life (<span>4</span>)</a></li>
				<li><a href="#">Super Cool Stuff (<span>8</span>)</a></li>
			</ul>	
		</div>	
	</div>
	<div class="aside-popup">
		<div class="aside__line js-toggle-info">
			<h5>Photo gallery</h5>
			<div class="division-line"></div>
		</div>
		<div class="toggle-info">
			<div class="gallery-small">
				<img class="js-minimized gallery-small__item" src="img/small_1.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_2.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_3.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_4.jpeg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_5.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_6.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_1.jpg" alt="">
				<img class="js-minimized gallery-small__item" src="img/small_2.jpg" alt="">
			</div>
		</div>
	</div>
</aside>





