<div class="container container--flex">
	<div class="main-container">

		<!-- start slider block -->

		<div class="slider-content">
			<div class="icon-frame">
				<div class="icon-frame__blog icon-frame--big">
					{{mixins.icon('polaroid')}}
				</div>
			</div>			
			<div class="slick-slider blog-slider">
				<img src="img/slider_image_1.jpg" alt="">
				<img src="img/Punisher.jpg" alt="">
				<img src="img/slide_3.png" alt="">
				<img src="img/forest.jpg" alt="">
			</div>
			<div class="blog-info">
				<div class="article-meta">
					<div class="article-meta__info">
						<h5>Date</h5>
						<p>April 15, 2012</p>
					</div>
					<div class="article-meta__info">
						<h5>Tags</h5>
						<p>Website | Design</p>
					</div>
					<div class="article-meta__info">
						<a href="#" title="">
							<h5>Comments</h5>
							<p>4</p>
						</a>
					</div>
				</div>
				<div class="blog-article">
					<h2 class="blog-h2"><a href="#" title="">Top  WordPress  Themes  of  2012</a></h2>
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.</p>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
				</div>
			</div>
			<div class="division-line"></div>
		</div>

		<!-- end slider block -->

		<!-- start article block -->

		<div class="single-article-content">
			<div class="icon-frame">
				<div class="icon-frame__blog icon-frame--big">
					{{mixins.icon('file')}}
				</div>
			</div>
			<div class="img-container">
				<img src="img/big_image_1.jpg" alt="">
			</div>
			<div class="blog-info">
				<div class="article-meta">
					<div class="article-meta__info">
						<h5>Date</h5>
						<p>April 15, 2012</p>
					</div>
					<div class="article-meta__info">
						<h5>Tags</h5>
						<p>Website | Design</p>
					</div>
					<div class="article-meta__info">
						<a href="#" title="">
							<h5>Comments</h5>
							<p>4</p>
						</a>
					</div>
				</div>
				<div class="blog-article">
					<h2 class="blog-h2"><a href="#" title="">Jesus  Typography  Wallpaper  Giveaway!</a></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum voluptates, quasi deleniti nihil, vero provident ducimus sit quis, minima, itaque sapiente aliquam. Praesentium cum deserunt aliquid quisquam ducimus quae eaque debitis, corporis recusandae aperiam beatae delectus quod eveniet repellendus molestias modi soluta quis facilis numquam!</p>
					<p>Dignissimos totam nobis a ipsa repudiandae quo esse doloremque ducimus dolorem neque, alias, sit expedita, ullam amet reiciendis odit. Debitis hic doloribus blanditiis, magni ullam facilis eum officiis.</p>
				</div>
			</div>
			<div class="division-line"></div>
		</div>

		<!-- end article block -->

		<!-- start quotes block -->

		<div class="quotes-content">
			<div class="icon-frame">
				<div class="icon-frame__blog icon-frame--big">
					{{mixins.icon('quotes')}}
				</div>
			</div>
			<div class="quote-article">
				{{mixins.icon('quotes')}}
				<p>Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.</p>
			</div>
			<div class="division-line"></div>
		</div>

		<!-- end quotes block -->

		<!-- start links block -->

		<div class="blog-links-content">
			<div class="icon-frame">
				<div class="icon-frame__blog icon-frame--big icon-link--big">
					{{mixins.icon('link')}}
				</div>
			</div>
			<h5 class="blog-h2"><a href="#" title="">Some  of  the  best  freebies  on  the  web</a></h5>
			<div class="link-names">
				<a href="#" title="">www.bestpsdfreebies.com</a>
			</div>
			<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.</p>
			<div class="division-line"></div>
		</div>

		<!-- end links block -->

		<div class="pages-number">
			<a class="is-active" href="#" title=""><span>1</span></a>
			<a href="#" title=""><span>2</span></a>
			<a href="#" title=""><span>3</span></a>
		</div>
	</div>
	{% include "partials/_aside.html" %}
</div>
