.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-file {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-polaroid {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-quotes {
  width: 1em;
  height: 1em;
  fill: initial;
}
